.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
secret.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.yarnclean

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# devNotes.md // create a new repo when everyting is done we don't want people to know this shit